body {
  /* set text color to EDF2F4*/
  color: #EDF2F4;
  background-color: #9ff320;
  overflow: hidden;
}

/* Navbar */
.navbar {
  background-color: #9ff320;

}
/* set all non logo nav elements to black and slowly transitions to #EDF2F4 on hover */
.nav-button {
  border: none;
  color: #2b2118;
  transition: 0.5s;
}
.nav-button:hover {
  color: #EDF2F4;
}


/* Body content below navbar will remain below navbar and is fit to viewport height */
.platform-content {
  margin-top: 100px;
  max-height: calc(100vh - 100px);
}


/* HAMBURGER MENU */
.sidebar {
  background-color: #ece5dd;
  height: calc(100vh - 101px);  
}
.sidebar button {
  color: #000507;
  border: none;
  font-size: 100%;
  font-family: inherit;
  padding: 0;
  
  transition: 0.3s;
  width: fit-content;
}
.sidebar button:hover {
  color: #f307077e;
}

#hamburger-menu {
  height: 100vh;
  max-width: 50vw;
  color: black;
}



/* MESSAGE STREAM */
.email-stream {
  background-color: #8975ec;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
}
.message-stream {
  color: #0b0f10;
  height: 100VH;
}
/* set background of email select cards and box shadow on hover*/
.email-select {
  background-color: #8dea50;
  transition: 0.2s;
}
.email-select:hover {
  background-color: #d6e9f5;
  box-shadow: 0 0 15px 5px #Edf2f4;
}

/* READ EMAIL */
.email-read {
  
  background-color: #EDF2F4;
  color: #2b2118;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  
}
.email-respond-button {
  background-color:#2b2118;
  color:#EDF2F4
}
#email-respond {
  border: 5px solid #f80b76;
}


/* Meatball menu appearance size % change at breakpoints */
#meatball-menu {
  margin-top: 101px;
  background-color: #9ff320;
}
/* Fullscreen */
@media screen and (max-width: 5000px ) {
  #meatball-menu {
      min-width: 50%;
  }
}
/* Tablet */
@media screen and (max-width: 1200px ) {
  #meatball-menu {
      min-width: 83.5%;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  #meatball-menu {
      min-width: 100%;
  }
}

#user-profile {
  color: #EDF2F4;
  transition: 0.3s;
}
#user-profile:hover {
  color: #edf2f47e;
}
#option-selection button {
  background-color: #000704;
  border: none;
  color: #EDF2F4;
  transition: 0.3s;
  font-size: 100%;
  font-family: inherit;
  padding: 0;
}
#option-selection button:hover {
  color: #EDF2F47e;
}

/* Exit Button */
.exit-button {
  background-color: #0a0a0a;
  color: #EDF2F4;
  border: none;
  transition: 0.3s;
}
.exit-button:hover {
  color: #2b2118;
}

/* Compose Button */
#compose-button, #email-send-button {
  margin-left: 115px;
  margin-bottom: 20px;
  background-color: #EDF2F4;
  color: #2b2118;
  border: none;
  transition: 0.3s;
}
#compose-button:hover, #email-send-button:hover {
  background-color: #cdd3d5;
  color: #2b2118;
  border: none;
}


/* Send New Email */
#email-new {
  background-color: #b18af9;
  color: #EDF2F4;
  width: 75%;
  height: 60%;

}
.compose-exit-button {
  background-color: #0c1510;
  color: #000709;
  border: none;
}
.compose-exit-button:hover {
  color: #2b2118;
}